.char-choice {
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url("../assets/background2.png");
  background-size: cover;
}

.char-choice h1 {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 4rem;
  color: black;
}

.mystery-char-wrapper {
  display: flex;
  justify-content: center;
}

.char-choice-container {
  margin: 4rem;
  display: flex;
  align-items: center;
  gap: 3rem;
  justify-content: space-around;
  flex-wrap: wrap;
}
