#date {
    position: absolute;

    height: 100%;
    width: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    background-image: url("../assets/background2.png");
    background-size: cover;
}

#question .profile {
    margin: 0 auto;
}

#question p.container {
    margin: 1rem auto;
}

#reponse {
    text-align: center;
}

#reponse button {
    margin: 1rem 8px;
}