#date {
    position: absolute;

    height: 100%;
    width: 100%;

    background-position: center;
    background-size: cover;
}

#blur {
    position: absolute;

    height: 100%;
    width: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    backdrop-filter: blur(10px);
}

#question .profile {
    margin: 0 auto;
}

#question p.container {
    margin: 1rem auto;
    width: max-content;
    max-width: 60ch;
}

#reponse {
    text-align: center;
}

#reponse button {
    margin: 1rem 8px;
    font-size: 1.25rem;
    max-width: 60ch;
}