#partner-result {
    position: absolute;

    height: 100%;
    width: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    backdrop-filter: blur(10px);
}

#match {
    display: flex;
    align-items: center;
}

#heart {
    height: 128px;
    width: 128px;
    margin: 0 56px;

    animation-name: beat;
    animation-duration: 0.9s;
    animation-iteration-count: infinite;
}

@keyframes beat {
    from {
        transform: scale(1.2);
    }
    to {
        transform: scale(0.8);
    }
}