#root {
  margin: 0;
  padding: 0;

  position: absolute;
  height: 100%;
  width: 100%;
}

* {
  font-weight: bold;
}

.container {
  background-color: #131313;
  color: #EEEEEE;

  padding: 5px;
  text-align: center;
  width: fit-content;
}

button {
  background-color: #131313;
  color: #adadad;

  border: none;

  padding: 6px 16px;
}

button:hover, h1 {
  color: #EEEEEE;
}

button, h1 {
  font-size: 1.5rem;
}

p {
  font-size: 1rem;
}